body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:256px;
  top:-3px;
  width:280px;
  height:393px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:393px;
}
#u1 {
  position:absolute;
  left:2px;
  top:188px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:23px;
  width:129px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:520px;
  top:173px;
  width:300px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
