body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1000px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1000px;
}
#u1 {
  position:absolute;
  left:2px;
  top:492px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_ann {
  position:absolute;
  left:993px;
  top:-4px;
  width:1px;
  height:1px;
}
